<ion-header>
  <ion-toolbar>
    <ion-title>Create Proposal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="proposalForm" (ngSubmit)="submitProposal()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Event</ion-label>
        <ion-select formControlName="event_id" placeholder="Select an Event">
          <ion-select-option *ngFor="let event of events" [value]="event.id">
            {{ event.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div
        *ngIf="
          proposalForm.get('event_id')?.invalid &&
          proposalForm.get('event_id')?.touched
        "
      >
        <p class="error">Event name is required</p>
      </div>

      <ion-item>
        <ion-label position="floating">Notes</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
      <div
        *ngIf="
          proposalForm.get('notes')?.invalid &&
          proposalForm.get('notes')?.touched
        "
      >
        <p class="error">Notes are required</p>
      </div>

      <ion-item>
        <ion-label position="floating">Contact Info</ion-label>
        <ion-input type="email" formControlName="contactInfo"></ion-input>
      </ion-item>
      <div
        *ngIf="
          proposalForm.get('contactInfo')?.invalid &&
          proposalForm.get('contactInfo')?.touched
        "
      >
        <p class="error">Enter a valid email address</p>
      </div>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="proposalForm.invalid">
      Submit Proposal
    </ion-button>
  </form>
</ion-content>
