<ion-header>
  <ion-toolbar>
    <ion-title>Create Proposal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="proposalForm" (ngSubmit)="submitProposal()">
    <ion-list>
        <ion-select
          formControlName="event"
          placeholder="Select an Event"
          label="Event"
        >
          <ion-select-option *ngFor="let event of events" [value]="event">
            {{ event.name }}
          </ion-select-option>
        </ion-select>
      <div
        *ngIf="
          proposalForm.get('event')?.invalid &&
          proposalForm.get('event')?.touched
        "
      >
        <p class="error">Event name is required</p>
      </div>

        <ion-textarea formControlName="notes" label="Notes" rows="5"></ion-textarea>
      <div
        *ngIf="
          proposalForm.get('notes')?.invalid &&
          proposalForm.get('notes')?.touched
        "
      >
        <p class="error">Notes are required</p>
      </div>
    </ion-list>

    <ion-button expand="block" type="submit" [disabled]="proposalForm.invalid">
      Submit Proposal
    </ion-button>
  </form>
</ion-content>
