<app-header title="View Sponsor" back="/sponsors"></app-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title [routerLink]="[sponsor.id]">
        {{ sponsor.name }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ sponsor.job_title }}, {{ sponsor.company_name }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><b>Budget:</b> {{ sponsor.budget | currency: 'USD'}}</p>
      <p><b>Industry:</b> {{ sponsor.industry }}</p>
      <p>
        <b>Topics:</b>
        <span *ngFor="let topic of sponsor.topics; let i = index">
          {{ topic }}<span *ngIf="i < sponsor.topics.length - 1">,&nbsp;</span>
        </span>
      </p>
      <p>
        <b>Event Attendee Personas:</b>
        <span
          *ngFor="let persona of sponsor.event_attendee_personas; let i = index"
        >
          {{ persona }}<span *ngIf="i < sponsor.topics.length - 1"
            >,&nbsp;</span
          >
        </span>
      </p>
      <p>
        <b>Key Objectives:</b>
        <span
          *ngFor="let objective of sponsor.key_objectives_for_event_sponsorship; let i = index"
        >
          {{ objective }}<span *ngIf="i < sponsor.topics.length - 1"
            >,&nbsp;</span
          >
        </span>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="createProposal()"
    >Create Proposal</ion-button
  >
</ion-content>
