ion-card {
  margin: 16px;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  margin: 4px 0;
  line-height: 1.5;
}

ion-badge {
  margin-left: 5px;
  top: 2px;
  position: relative;
}
