<app-header title="home"></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card">
      <p>View Sponsors and propose collaborations for your Events</p>
      <ion-button [routerLink]="['/sponsors']">Sponsors</ion-button>
    </div>
    <div class="card">
      <p>View and Create your events</p>
      <ion-button [routerLink]="['/events']">Events</ion-button>
    </div>
    <div class="card">
      <p>View your outbound proposals</p>
      <ion-button [routerLink]="['/proposals']">Proposals</ion-button>
    </div>
  </div>
</ion-content>